App1/.vs/*
App1/App1/bin/*
App1/App1/obj/*
HamburguerHeavenChallenge/.vs/
HamburguerHeavenChallenge/HamburguerHeavenChallenge/HamburguerHeavenChallenge.csproj.user
HamburguerHeavenChallenge/HamburguerHeavenChallenge/bin/
HamburguerHeavenChallenge/HamburguerHeavenChallenge/obj/
Exercise1 - Starter/obj/
Exercise1 - Starter/bin/
Exercise1 - Starter/.vs/
StupendousStylesChallenge/StupendousStylesChallenge/obj/
StupendousStylesChallenge/StupendousStylesChallenge/bin/
StupendousStylesChallenge/.vs/
