App1/.vs/*
App1/App1/bin/*
App1/App1/obj/*
HamburguerHeavenChallenge/.vs/
HamburguerHeavenChallenge/HamburguerHeavenChallenge/HamburguerHeavenChallenge.csproj.user
HamburguerHeavenChallenge/HamburguerHeavenChallenge/bin/
HamburguerHeavenChallenge/HamburguerHeavenChallenge/obj/
Exercise1 - Starter/obj/
Exercise1 - Starter/bin/
Exercise1 - Starter/.vs/
StupendousStylesChallenge/StupendousStylesChallenge/obj/
StupendousStylesChallenge/StupendousStylesChallenge/bin/
StupendousStylesChallenge/.vs/
StupendousStylesChallenge/.vs/StupendousStylesChallenge/v16/.suo
Exercise2_Starter/obj/
Exercise2_Starter/bin/
Exercise2_Starter/.vs/
Exercise3_Starter/obj/x86/
Exercise3_Starter/obj/
Exercise3_Starter/bin/
Exercise3_Starter/.vs/
/Exercise4_Starter/.vs/Exercise4/v16
/Exercise4_Starter/bin
/Exercise4_Starter/obj
