App1/.vs/*
App1/App1/bin/*
App1/App1/obj/*
HamburguerHeavenChallenge/.vs/
HamburguerHeavenChallenge/HamburguerHeavenChallenge/HamburguerHeavenChallenge.csproj.user
HamburguerHeavenChallenge/HamburguerHeavenChallenge/bin/
HamburguerHeavenChallenge/HamburguerHeavenChallenge/obj/
Exercise1 - Starter/obj/
Exercise1 - Starter/bin/
Exercise1 - Starter/.vs/
StupendousStylesChallenge/StupendousStylesChallenge/obj/
StupendousStylesChallenge/StupendousStylesChallenge/bin/
StupendousStylesChallenge/.vs/
StupendousStylesChallenge/.vs/StupendousStylesChallenge/v16/.suo
Exercise2_Starter/obj/
Exercise2_Starter/bin/
Exercise2_Starter/.vs/
Exercise3_Starter/obj/x86/
Exercise3_Starter/obj/
Exercise3_Starter/bin/
Exercise3_Starter/.vs/
DemoUWP/DemoUWP.Core.Tests.xUnit/bin/
DemoUWP/DemoUWP.Core.Tests.xUnit/obj/
DemoUWP/DemoUWP.Core/bin/
DemoUWP/DemoUWP.Core/obj/
DemoUWP/DemoUWP.Tests.xUnit/obj/
DemoUWP/DemoUWP/bin/
DemoUWP/DemoUWP/obj/
GridLayout/GridLayout/obj/
HambuguerExample/.vs/
HambuguerExample/HambuguerExample/bin/
HambuguerExample/HambuguerExample/obj/
HelloWorld/HelloWorld/bin/
HelloWorld/HelloWorld/obj/
LaboriousChalenge/.vs/
LaboriousChalenge/LaboriousChalenge/bin/
LaboriousChalenge/LaboriousChalenge/obj/
LaudibleLayout/.vs/
LaudibleLayout/LaudibleLayout/bin/
LaudibleLayout/LaudibleLayout/obj/
LegendaryLayout/.vs/
LegendaryLayout/LegendaryLayout/bin/
LegendaryLayout/LegendaryLayout/obj/
/Exercise4_Starter/.vs/Exercise4/v16
/Exercise4_Starter/bin
/Exercise4_Starter/obj
/Exercise5_Starter/.vs/Exercise5/v16
/Exercise5_Starter/bin
/Exercise5_Starter/obj
/AdaptiveLayoutChallenge/.vs/AdaptiveLayoutChallenge/v16
/AdaptiveLayoutChallenge/AdaptiveLayoutChallenge/bin/x86/Debug
/AdaptiveLayoutChallenge/AdaptiveLayoutChallenge/obj
/Exercise6_Starter/.vs/Exercise6/v16
/Exercise6_Starter/bin/x86/Debug
/Exercise6_Starter/obj
